absl-py==1.4.0
accelerate==0.23.0
aiohttp==3.8.5
aiosignal==1.3.1
alembic==1.12.0
altair==5.1.2
annotated-types==0.5.0
anyio==3.7.0
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
arviz==0.12.1
astor==0.8.1
asttokens==2.2.1
astunparse==1.6.3
async-lru==2.0.3
async-timeout==4.0.2
asyncio==3.4.3
attrs==23.1.0
autobahn==23.6.1
autoflake==2.2.1
Automat==22.10.0
babe==0.0.7
Babel==2.12.1
backcall==0.2.0
banal==1.0.6
baukit @ git+https://github.com/davidbau/baukit@e14a18a6ad6cf9e0d6a5dc7a97e671e393c01682
beartype==0.14.1
beautifulsoup4==4.12.2
better-abc==0.0.3
bitsandbytes==0.41.1
black==23.3.0
bleach==6.0.0
blinker==1.6.2
blis==0.7.11
blobfile==2.0.2
blosc2==2.0.0
boostedblob==0.13.2
boto==2.49.0
boto3==1.26.158
botocore==1.29.158
branca==0.6.0
Brotli==1.1.0
build==1.0.3
CacheControl==0.13.1
cached-property==1.5.2
cachetools==5.3.1
captum==0.6.0
catalogue==2.0.10
causalgraphicalmodels==0.0.4
certifi==2023.7.22
cffi==1.15.1
cftime==1.6.3
charset-normalizer==3.1.0
chex==0.1.6
circuitsvis==1.41.0
cleo==2.1.0
click==8.1.3
cloudpathlib==0.16.0
cmake==3.26.4
cmapy==0.6.6
cmdkit==2.6.1
cmudict==1.0.13
colormath==3.0.0
comm==0.1.3
commonmark==0.9.1
confection==0.1.4
config2py==0.1.27
conllu==4.5.3
constantly==15.1.0
contourpy==1.0.7
crashtest==0.4.1
cryptography==41.0.3
cycler==0.11.0
cymem==2.0.8
Cython==3.0.4
dataclasses-json==0.6.0
dataset==1.6.2
datasets==2.12.0
debugpy==1.6.7
decorator==4.4.2
defusedxml==0.7.1
deprecat==2.1.1
dgl==1.1.3
dill==0.3.6
distlib==0.3.8
dm-haiku==0.0.10
dm-tree==0.1.8
docker-pycreds==0.4.0
docstring-parser==0.15
dol==0.2.38
dulwich==0.21.7
eindex==0.1.0
einops==0.6.1
einsum==0.3.0
emoji==2.10.1
en-core-sci-lg @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.4.0/en_core_sci_lg-0.4.0.tar.gz
et-xmlfile==1.1.0
etils==1.7.0
exceptiongroup==1.1.1
executing==1.2.0
faiss-cpu==1.7.4
fancy-einsum==0.0.3
fastjsonschema==2.19.1
fastprogress==1.0.3
fastrlock==0.8.2
field==0.2.0
filelock==3.12.0
fire==0.5.0
Flask==3.0.2
flatbuffers==23.5.26
flax==0.6.3
folium==0.14.0
fonttools==4.39.4
formulaic==0.6.6
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2023.5.0
ftfy==6.1.3
fuzz==0.1.1
fuzzywuzzy==0.18.0
gast==0.5.4
gdown==4.7.1
gensim==4.3.2
geographiclib==2.0
geopy==2.4.0
get-mnist==1.0.1
gitdb==4.0.10
GitPython==3.1.32
google-auth==2.23.2
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
graphviz==0.20.1
graze==0.1.14
greenlet==2.0.2
grf==0.2.2
grpcio==1.59.0
gurobipy==10.0.2
h11==0.14.0
h5py==3.10.0
hkdf==0.0.3
html2text==2020.1.16
html5lib==1.1
httpcore==0.17.2
httpx==0.24.1
huggingface-hub==0.21.4
humanize==4.6.0
hyperlink==21.0.0
i2==0.1.11
idna==3.4
igraph==0.11.4
igviz==0.5.1
imageio==2.34.0
imageio-ffmpeg==0.4.9
importlib-metadata==5.2.0
importlib-resources==5.12.0
incremental==22.10.0
inflate64==0.3.1
iniconfig==2.0.0
inseq==0.4.0
installer==0.7.0
interface-meta==1.3.0
ipykernel==6.24.0
ipython==8.14.0
ipython-genutils==0.2.0
ipywidgets==8.0.7
isoduration==20.11.0
itsdangerous==2.1.2
jaraco.classes==3.3.1
jax==0.4.25
jaxlib==0.4.25
jaxtyping==0.2.28
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
jmp==0.0.4
joblib==1.2.0
json5==0.9.14
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.18.3
jsonschema-specifications==2023.6.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.6.3
jupyter-lsp==2.2.0
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyter_server==2.7.0
jupyter_server_terminals==0.4.4
jupyterlab==4.0.3
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.8
jupyterlab_server==2.24.0
kaleido==0.2.1
keras==2.14.0
keyring==24.3.0
kiwisolver==1.4.4
langchain==0.0.300
langcodes==3.3.0
langsmith==0.0.40
Levenshtein==0.21.1
libclang==16.0.6
linearmodels==5.3
lit==16.0.6
loralib==0.1.2
lxml==4.9.2
magic-wormhole==0.12.0
Markdown==3.4.4
markdown-it-py==2.2.0
MarkupSafe==2.1.2
marshmallow==3.20.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
maturin==1.1.0
mdurl==0.1.2
mistune==3.0.1
ml-dtypes==0.3.2
mlxtend==0.23.0
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.0.7
multidict==6.0.4
multiprocess==0.70.14
multivolumefile==0.2.3
murmurhash==1.0.10
mypy==1.3.0
mypy-extensions==1.0.0
names-generator==0.1.0
nbclient==0.8.0
nbconvert==7.7.3
nbformat==5.9.1
nest-asyncio==1.5.6
netCDF4==1.6.5
networkx==3.1
neuron-explainer @ git+https://github.com/openai/automated-interpretability.git@14ddc90f92f409f3e15208a17628b1d330affaf9#subdirectory=neuron-explainer
nltk==3.8.1
nml==0.7.4
nmslib==2.1.1
notebook==7.0.0
notebook_shim==0.2.3
numexpr==2.8.6
numpy==1.24.3
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
openai==1.12.0
opencv-python==4.8.0.76
openpyxl==3.1.2
opt-einsum==3.3.0
optax==0.1.7
optree==0.9.1
orbax==0.0.23
orjson==3.9.1
outcome==1.2.0
overrides==7.3.1
packaging==23.1
pandas==2.0.2
pandocfilters==1.5.0
parso==0.8.3
pastel==0.2.1
pathlib_abc==0.1.1
pathspec==0.11.1
pathtools==0.1.2
pathy==0.11.0
patsy==0.5.3
peft==0.2.0
pexpect==4.9.0
pickleshare==0.7.5
Pillow==9.5.0
pkginfo==1.9.6
platformdirs==3.5.3
plotly==5.14.1
plotly-express==0.4.1
pluggy==1.0.0
ply==3.11
poethepoet==0.13.1
poetry==1.7.1
poetry-core==1.8.1
poetry-plugin-export==1.6.0
preshed==3.0.9
prince==0.12.1
proglog==0.1.10
progressbar2==4.2.0
prometheus-client==0.17.1
prompt-toolkit==3.0.39
pronouncing==0.2.0
protobuf==4.23.2
psutil==5.9.5
ptyprocess==0.7.0
PuLP==2.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
py2store==0.1.20
py7zr==0.20.6
pyarrow==12.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAudio==0.2.13
pybcj==1.0.1
pybind11==2.6.1
pycparser==2.21
pycryptodomex==3.18.0
pydantic==2.5.3
pydantic_core==2.14.6
pydub==0.25.1
pyflakes==3.2.0
Pygments==2.15.1
pygraphviz==1.11
pyhdfe==0.2.0
pymatch==0.3.4
pymc3==3.11.5
PyNaCl==1.5.0
pyOpenSSL==23.2.0
pyparsing==3.0.9
PyPDF2==3.0.1
pyppmd==1.0.0
pyproject_hooks==1.0.0
pyre-extensions==0.0.29
pysbd==0.3.4
PySocks==1.7.1
PySvelte @ git+https://github.com/neelnanda-io/PySvelte.git@6f5d971a148d40fb7481d400ae74551b37340e83
pytest==7.3.2
python-dateutil==2.8.2
python-dotenv==1.0.0
python-json-logger==2.0.7
python-louvain==0.16
python-utils==3.7.0
pytorch-pretrained-bert==0.6.2
pytorch-transformers==1.2.0
pytz==2023.3
pyvbox==2.1.1
PyYAML==6.0
pyzmq==25.1.0
pyzstd==0.15.9
qtconsole==5.4.3
QtPy==2.3.1
rapidfuzz==3.1.1
referencing==0.29.1
regex==2023.5.5
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
responses==0.18.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.4.1
rouge-score==0.1.2
rpds-py==0.8.10
rsa==4.9
s3transfer==0.6.1
sacremoses==0.0.53
safetensors==0.4.2
scikit-learn==1.2.2
scikit-learn-extra==0.3.0
scipy==1.10.1
scispacy==0.5.3
seaborn==0.12.2
selenium==4.17.2
semver==3.0.2
Send2Trash==1.8.2
sentencepiece==0.1.99
sentry-sdk==1.24.0
service-identity==21.1.0
setproctitle==1.3.2
setuptools-scm==7.1.0
shellingham==1.5.4
six==1.16.0
sklearn==0.0.post9
smart-open==6.3.0
smmap==5.0.0
snakeviz==2.2.0
sniffio==1.3.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.4.1
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spake2==0.8
spectra==0.0.11
SpeechRecognition==3.10.0
SQLAlchemy==1.4.49
srsly==2.4.8
stack-data==0.6.2
statsmodels==0.14.0
swap-graphs @ git+https://github.com/aVariengien/swap-graphs.git@05a4ec8cd4357e1e1d502e11cd420f538b9e69f2
sympy==1.12
tables==3.8.0
tabulate==0.9.0
tenacity==8.2.2
tensorboard==2.14.1
tensorboard-data-server==0.7.1
tensorflow==2.14.0
tensorflow-estimator==2.14.0
tensorflow-io-gcs-filesystem==0.34.0
tensorly==0.8.1
tensorstore==0.1.54
termcolor==2.3.0
terminado==0.17.1
textdistance==4.6.0
texttable==1.6.7
Theano-PyMC==1.1.2
thinc==8.2.2
threadpoolctl==3.1.0
tiktoken==0.4.0
tinycss2==1.2.1
tokenizers==0.15.2
tomli==2.0.1
tomlkit==0.12.3
toolz==0.12.0
torch==2.0.1
torch_geometric==2.4.0
torchopt==0.7.1
torchtyping==0.1.4
torchvision==0.15.2
tornado==6.3.2
tqdm==4.65.0
tracr @ file:///home/gerard/tracr
tract==0.20.7
traitlets==5.9.0
transformer-lens @ git+https://github.com/neelnanda-io/TransformerLens.git@6983358b24c933e8787be8ffd3f518d0374fdd09
transformers==4.38.2
trio==0.22.1
trio-websocket==0.10.3
triton==2.0.0
trove-classifiers==2024.1.31
Twisted==22.10.0
txaio==23.1.1
txtorcon==23.5.0
typed-argument-parser==1.8.0
typeguard==2.13.3
typer==0.3.2
types-requests==2.31.0.1
types-urllib3==1.26.25.13
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata==2023.3
unicode==2.9
Unidecode==1.3.7
UNKNOWN @ git+https://github.com/neelnanda-io/neel-plotly.git@6dc24b26f8dec991908479d7445dae496b3430b7
uri-template==1.3.0
urllib3==1.26.16
uvloop==0.17.0
vastai==0.1.6
virtualbox==2.1.1
virtualenv==20.25.0
vqgan-jax @ git+https://github.com/patil-suraj/vqgan-jax.git@10ef240f8ace869e437f3c32d14898f61512db12
wandb==0.15.3
wasabi==0.10.1
wcwidth==0.2.13
weasel==0.3.4
webcolors==1.13
webdriver-manager==4.0.1
webencodings==0.5.1
websocket-client==1.6.1
websockets==11.0.3
Werkzeug==3.0.1
widgetsnbextension==4.0.8
wordcloud==1.9.2
wrapt==1.14.1
wsproto==1.2.0
xarray==2023.10.1
xarray-einstats==0.6.0
xformers==0.0.20
xlrd==2.0.1
xxhash==3.2.0
yarl==1.9.2
zipp==3.15.0
zope.interface==6.0
